*{
    margin:0;
    padding: 0;
}
p{
    color: blue;
}
.image > img{
    border:4px red solid;
}
.heading{  
    font-weight: bold;
    color: blue;
    font-size: 45pt;
}
.paragraph{
    text-align: center;
    font-size: 25pt;
}
body{
    position: relative;
}
.image-link{
    position: fixed;
    top: 20vh;
    left: 10vh;
}