*{
    margin:0;
    padding: 0;
}
p{
    color: blue;
}
.image{
    border-style: groove;
    border-color: red;
}
.heading{  
    font-weight: bold;
    color: blue;
    font-size: 45pt;
}
.paragraph{
    text-align: center;
    font-size: 25pt;
}